*{padding: 0;margin: 0;}
html {
	height: 100%;
}
body {
	height: 100%;
}
.container{
	margin: 0 0 20px 0;
}
.modal-open{
	overflow-y: scroll !important;
}
.fc-row {
	/*height: 110px!important;*/
}
.row-event{
	margin: 0 0 20px 0;
}
.row h1{
	text-align: center;
	font-size: 24px;
}
#box-group{
	width: 100%;
}
#groups-event{
	width: 95%;
	height: 30px;
	margin: 0 10px 20px 0;
}
#room-event{
	width: 100%;
	height: 30px;
	margin: 0 0 20px 0;
}
.start{
	width: 95%!important;
	height: 30px;
	margin: 0 10px 0 0;
}
.end{
	width: 100%;
	height: 30px;
}
.modal-body tr{
	width: 100%;
}
.modal-body tr td{
	width: 50%;
}
.modal-content{
	width: 500px;
}
.created-event{
	width: 150px;
	background-color: #c9302c;
	border-color: #ac2925;
	border:none;
	color: white;
	padding: 10px;
	margin: 0 0 0 0;
}
.created-user{
	width: 100px;
	background-color: #c9302c;
	border-color: #ac2925;
	border:none;
	color: white;
	padding: 10px;
	margin: 0 0 0 10px;
}
.created-user:hover{
	background-color: #aa2a27;
}
.modal-title{
	text-align: center;
}
.modal-header{
	background-color: #095494;
	color: #fff;
}
.modal-body input{
	width: 100%;
	height: 33px;
	color: black;
	padding: 5px;
	border: solid thin #ccc;
}
.messager{
	height: 23px;
}
.modal-body #groups{
	width: 100%;
	height: 33px;
}
.modal-body .groups{
	width: 100%;
	height: 33px;
}
.modal-body h3{
	text-align: center;
}
.modal-body h2{
	font-size: 24px;
	color: #c9302c;
	text-align: center;
}
#getUser{
	margin: 30px 0 0 0;
}
#getUser th{
	text-align: center;
}
#getUser tr td{
	text-align: center;
}
.box-icon{
	width: 25px;
	height: 25px;
	border:solid thin #ccc;
	margin: auto;
}
.fa-check{
	color: green;
}
.fa-lock{
	color: red;
}
#error_name{
	width: auto;
	height: 25px;
	background-color: #c9302c;
	color: #fff;
	border-radius: 5px;
}
#error_name h5{
	margin: 4px;
}
#error .modal-body h3{
	color: #c9302c;
}
.row-group{
	width: 50%;
	float: left;
	padding: 0 10px 0 0;
}
#example{
	border: solid thin #ccc;
}
#example tr th{
	border-bottom: solid thin #ccc;
}
#example2{
	border: solid thin #ccc;
}
#example2 tr th{
	border-bottom: solid thin #ccc;
}
#example_length{
	margin: 0 0 10px 0;
	color: #095494;
}
#example_filter{
	display: none;
	color: #095494;
}
#example_filter input{
	border:solid thin #ccc;
}
#example2_length{
	margin: 0 0 10px 0;
	color: #095494;
}
#example2_filter{
	display: none;
	color: #095494;
}
#example2_filter input{
	border:solid thin #ccc;
}
.login{
	width: 400px;
	height: auto;
	margin:100px auto;
	background-color:rgba(228,228,228,0.4);
	border-radius: 10px;
}
.header-login{
	background-color:rgba(228,228,228,0.4);
	color: #fff;
	text-align: center;
	padding: 5px 30px 5px 30px;
}
.content-login{
	padding: 20px 0;
}
.footer-login{
	height: 40px;
	text-align: center;
	border-top:solid thin #ccc;
	background-color: #6c7f98;
	color: #fff;
}
.content-login h4 {
	text-align: center;
	margin: 20px 0 0 0;
	color: Red;
}
#login h3{
	text-align: center;
	font-size: 34px;
	color:#095494;
	margin: 0 0 15px 0;
}
#login table{
	width: 100%;
}
#login table tr td{
	padding: 5px 0 0 20px;
}
#login span {
	color:#999;
}
#login input{
width: 95%;
height:40px;
color: #000;
margin:0 0 30px 0px;
border:solid thin #ccc;
padding: 5px;
background-color: #f4f4f4;
padding: 0 0 0 35px;
}
#login #email {
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 20px 20px;
	background-position: 5px 10px;
	background-repeat: no-repeat;
}
#login #password {
	background-image: url(../images/password.png);
	background-size: 20px 20px;
	background-position: 5px 10px;
	background-repeat: no-repeat;
}
#login button{
	width: 30%;
	height: 40px;
	background-color: #8dc6ee;
	border:none;
	color: white;
	margin: 0 0 0 0;
	font-size: 24px;
	float: left;
}
#login button:hover{
	background-color: #127cba;
}
#login tr td p{
	float: right;
	margin: 22px 0 0 0;
}
#login a{
	text-decoration: none;
	color: blue;
	margin: 0 0 0 110px;
}
#login a:hover{
	color: red;
}
#wrapper h4{
	text-align: center;
	color: red;
	padding: 0px;
	font-size: 14px;
}

#wrapper h4 span{
	width: 30px;
	float: left;
	color: #ccc;
	font-size: 24px;
	font-weight: bold;
	background-color: #fff;
}
#wrapper h4 p{
	text-align: center;
	margin: 5px 0 0 30px;
	color: #095494;
}
.row-search{
	margin: 0 0 20px 0;
}
.row-search tr td{
	color: #095494;
	font-size: 18px;
}
.row-search tr td input{
	width: 180px;
	border: solid thin #ccc;
	margin: 0 20px 0 0px;
	padding: 10px;
	height: 35px;
}
.search-event{
	width: auto;
	background-color: #095494;
	border-color: #ac2925;
	border:none;
	color: white;
	padding: 5px 30px;
	margin: 0 0 0 10px;
}
.search-event:hover{
	background-color: #074172;
}
#color{
	margin: 20px 0 0 10px;
}
#color input{
	height: 34px;
}
#icon-loading{
	/*display: none;*/
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#icon-loading img{
	position: absolute;
	z-index: 1000;
	top: 50%;
	left: 45%;
}
.box-profile {
	width: 100%;
	border: solid thin #ccc;
	text-align: center;
	color: #000;
	padding: 10px 0;
	margin-bottom: 20px;
}
.box-profile img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 20px 0;
}
.text-profile {
	text-align: left;
}
.main-left {
	width: auto;
	height: 100%;
	padding: 0!important;
}
.main-left ul {
	list-style: none;
}
.main-left ul li {
	background-color: #095494;
	padding: 10px;
	color: #fff;
	border-bottom: solid thin #eaeaea;
}
.main-left ul li a {
	width: 100%;
	color: #fff;
	text-decoration: none;
}
.main-left ul li:hover a {
	opacity: 0.8;
}
.profile-right {
	color: #000;
}
.profile-right tr {
	height: 40px;
}
.profile-right tr td {
	padding: 10px 10px 10px 0;
}
.profile-right-img {
	width: 100%;
}
.profile-right-img img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 0 20px 0;
}
.modal-open .modal {
	overflow-x: hidden!important;
	overflow-y: hidden!important;
}
#detail-1 {
	overflow: hidden;
}
.detail-image img {
	width: 120px;
}
.dev_register {

}
#back-to-top {
	position: fixed;
	right: 0;
	bottom: 50px;
	z-index: 9999;
	font-size: 40px;
}
#back-to-top a {
	text-decoration: none;
}

.open {
  position: fixed;
  top: 5px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
	z-index: 9999;
}

.open:hover {
  opacity: .8
}

.open span {
  display: block;
  float: left;
  clear: both;
  height: 2px;
  width: 30px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  -webkit-transition: all .4s ease;
  transition: all .4s ease
}

.open span:first-child {
  margin-top: 5px;
  z-index: 5
}

.open span:nth-child(2) {
  margin-top: 20px
}

.open span:nth-child(3) {
  margin-top: 35px
}

.sub-menu {
  -webkit-transition: all .8s cubic-bezier(.68, -.55, .265, 1.55);
  transition: all .8s cubic-bezier(.68, -.55, .265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(38, 84, 133, .54);
  border-radius: 50%;
  z-index: 8;
  overflow: hidden
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  -webkit-transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
  transition: all .5s cubic-bezier(.68, -.55, .265, 1.55)
}

.sub-menu li:first-child {
  margin-top: 190px;
  -webkit-transition-delay: .05s
}

.sub-menu li:nth-child(2) {
  -webkit-transition-delay: .1s
}

.sub-menu li:nth-child(3) {
  -webkit-transition-delay: .15s
}

.sub-menu li:nth-child(4) {
  -webkit-transition-delay: .2s
}

.sub-menu li:nth-child(5) {
  -webkit-transition-delay: .25s
}

.sub-menu li a {
  color: #fff;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px
}

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px
}

.oppenned span:nth-child(2) {
  overflow: visible
}

.oppenned span:first-child, .oppenned span:nth-child(3) {
  z-index: 9;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.oppenned span:first-child {
  -webkit-transform: rotate(45deg) translateY(12px) translateX(12px);
  transform: rotate(45deg) translateY(12px) translateX(12px)
}

.oppenned span:nth-child(2) {
  height: 400px;
  width: 420px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, .54)
}

.oppenned span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);
  transform: rotate(-45deg) translateY(-10px) translateX(10px)
}

.oppenned li {
  margin-right: 168px
}

.button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #10a1ea;
  overflow: hidden;
  position: relative
}

.button:after {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  -webkit-transform: rotate(45deg) translateX(-540px) translateY(-100px);
  transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #10a1ea;
  z-index: 1
}

.button:before {
  -webkit-transition: -webkit-transform .5s cubic-bezier(.68, -.55, .265, 1.55);
  transition: -webkit-transform .5s cubic-bezier(.68, -.55, .265, 1.55);
  transition: transform .5s cubic-bezier(.68, -.55, .265, 1.55);
  transition: transform .5s cubic-bezier(.68, -.55, .265, 1.55), -webkit-transform .5s cubic-bezier(.68, -.55, .265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  -webkit-transform: translateY(200px);
  transform: translateY(200px)
}

.button:hover {
  text-decoration: none
}

.button:hover:after {
  -webkit-transform: translateX(-300px) translateY(-100px);
  transform: translateX(-300px) translateY(-100px)
}

.button:hover:before {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

#network {
	height: 100%;
	padding: 0;
	background-color: #fff;
	font-size: 30px;
	font-size: 14px;
	border-top: solid thin #eaeaea;
	border-right: solid thin #eaeaea;
	border-bottom: solid thin #eaeaea;
	left: 0;
	top: 0;
}

#network ul {
	list-style: none;
	margin: 0;
}

#network ul a li {
	width: 100%!important;
	padding: 10px 10px;
	/*background-color: #095494;*/
	/*color: #fff;*/
	width: 100%;
	border-bottom: solid thin #eaeaea;
}

#network ul a:last-child li{
	border: none;
}

#network ul a li:hover{
	/*background-color: rgba(9,84,148,0.5);*/
}

#search {
	width: auto;
	margin: 10px;
	border: solid thin #eaeaea;
}
#network #search input {
	width: 81%;
	border: none;
	height: 28px;
	padding: 0 10px;
}
#network #search input:focus{
	outline: none;
}
#network #search button {
	width: 16%;
	margin: -2px 0 0 -4px;
	border: solid thin #fff;
	background-color: #fff;
	height: 28px;
	color: #ccc;
}
#network #search button {
	outline: none;
}

#news_page {
	position: fixed;
	top: 55px;
	left: 16.6666667%;
}
/*.modal-backdrop {
	display: none!important;
}*/
#status-header {
	float: left;
}
#status-header img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	margin: 0 5px 0;
}
.text-right a label {
	line-height: 40px;
	padding: 0 5px;
}
.item img {
  width: 850px;
  height: 400px;
}
.well {
  padding: 10px!important;
  overflow: hidden;
  margin-bottom: 10px!important;
}
.well img {
  width: 110px;
  height: 110px;
  float: left;
  margin: 0 10px 0 0;
}
section {
	height: 100%;
}
#footer {
  height: 50px;
  border-top: solid thin #ccc;
  bottom: 0!important;
  background-color: #fff;
  color: #000;
	z-index: 9999;
}
/*#search::-webkit-input-placeholder { color:#00f; }
#search::-webkit-input-placeholder { color:#090; background:lightgreen; text-transform:uppercase; }*/
#abc::placeholder { color:#e5e5e5!important; }
.footer-bar-left {
  line-height: 40px;
}
.footer-bar-right ul{
  list-style: none;
  float: right;
}
.footer-bar-right ul li{
  float: left;
  line-height: 40px;
  margin: 0 15px;
}
#search .col-md-12 {
	padding: 0;
	margin: 10px 0;
}
#abc {
	float: left;
}
#myCarousel img {
	height: 415px;
}
#select2-test {
	width: 100px;
	height: 30px;
}
#select2-test-2 {
	width: 100%;
	height: 30px;
	margin: 10px 0;
	float: left;
}
#select-3 {
	width: 100%;
	height: 30px;
	margin: 10px 0;
	float: left;
}
